*{
text-decoration:none;
}
button{
	border-radius:5px;
	background:url("../pictures/button.jpg");}
.content{
min-width:955px;
width:85%;
}
.content_title {
	margin-top:20px;
	text-align:center;
}
.img_box img{		
width:100%;
height:100%;
}
.img_box{
	width:100%;
	height:1000px;
	border-radius:10px;
	border:5px solid #E4D7EC;
	overflow:hidden;
	margin:10px 0;
}
.head_button{
	width:76px;
	height:30px;
	margin:10px 0 10px 5px;
}
.head_button:hover{
	cursor:pointer;
}
#fix{
	opacity:0.78;
	width:100px;
	position:fixed;
	
}
#change_outer_box{
	margin-top:20px;
	width:100%;min-width:955px;
}
.change_outer_box{	
margin:0 0 0 25%;
overflow:hidden;
border-radius:5px;
}
.change_box{
	text-align:center;
	width:3%;float:left;
}
.change_box_span{	margin-right:8%;
	float:left;	text-align:center;font-size:17px;margin-top:3px;
	width:150px;
}
.change_box_up{
	margin:5px 0 0 0;
	text-align:center;
	width:40px;float:left;font-size:10px;
}
.change_box_down{
	margin:5px 0 0 0;
	text-align:center;
	width:40px;float:left;font-size:10px;
}
.change{
	font-size:12px;
	color:#716767;
}
.num_box{
	width:100%;height:30px;
}
.num_position{
	width:100px;margin:0 0 0 45%;
}








